<ul id="tabnav">
	<li><span>供应商列表</span></li>
	<li><%= link_to '新增供应商', new_supplier_path %></li>
</ul>
<div id="main_zone">
  <table class="data_table">
    <thead>
    <tr>
      <th>缩写</th>
      <th>供应商名称</th>
      <th>联系人</th>
      <th>联系电话</th>
      <th>Email</th>
      <th>地址</th>
      <th>备注</th>
      <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
  <% @suppliers.each do |supplier| %>
    <tr>
      <td><%=h supplier.short_name %></td>
      <td><%=h supplier.company_name %></td>
      <td><%=h supplier.contact %></td>
      <td><%=h supplier.contact_phone %></td>
      <td><%=h supplier.email %></td>
      <td><%=h supplier.address %></td>
      <td><%=h supplier.remark %></td>
      <td>
        <div style="float:left;"  class="ui-state-default ui-corner-all" title="修改">
          <%= link_to 'Edit', edit_supplier_path(supplier), :class=>"ui-icon ui-icon-pencil" %>
        </div>
        <div style="float:left;margin-left:8px;"  class="ui-state-default ui-corner-all" title="删除">
          <%= link_to 'Destroy', supplier, :confirm => 'Are you sure?', :method => :delete, :class=>"ui-icon ui-icon-close" %>
        </div>
      </td>
    </tr>
  <% end %>
    </tbody>
  </table>


</div>

