<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <title>Coolpur.com - <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'Coolpur', 'admin', 'jquery_ui_css/redmond/jquery-ui-1.7.2.custom' %>
  <%= javascript_include_tag 'jquery-1.3.2.min', 'jquery-ui-1.7.2.custom.min' %>
<script type="text/javascript">
    $(function() {
      $("input[type='text']:first", document.forms[0]).focus();
    });
</script>
  <style type="text/css">
  body { background: #2e788f url("/images/main/bg.jpg") top left repeat-x; margin: 0; padding: 0; border: none; font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; }
  </style>
</head>
<body>

<%= render(:partial => "flash_alert" ) %>

<div id="login_win">
  <%= yield %>
</div>


</body>
</html>
